.grid-continar{
border: 1px solid red;


}
.grid-continar {
    display: grid;
    /* grid-template-columns: 20vw 50vw 30vw;
    grid-template-rows: 20vh 60vh 20vh; */
    grid-template-areas: 
    "header header header"
    "Navigation Holygraillayout Sider"
    "Footer Footer Footer"
    ;
    text-align: center;
    ju
}
.grid:nth-child(1){
    grid-area: header;
    height: 10vh;
    background-color: coral;
    
    /* grid-column: 1 /4; */
}
.grid:nth-child(2){
    grid-area: Navigation;
    height: 80vh;
    background-color: aqua;
    /* grid-column: 1 /2;
    grid-row: 2 / 3; */
}
.grid:nth-child(3){
    grid-area: Holygraillayout;
    background-color: darksalmon;
    /* grid-column: 2 /3;
    grid-row: 2 / 3; */
}
.grid:nth-child(4){
    grid-area: Sider;
    background-color: yellow;
    /* grid-column: 3 /4;
    grid-row: 2 / 3; */
}
.grid:nth-child(5){
    grid-area: Footer;
    background-color: palevioletred ;
    height: 10vh;
    /* grid-column: 1 /4;
    grid-row: 3 / 4; */
}